<h1>Juego del Amigo Invisible</h1>
<h3>Bienvenido!</h3>

<ng-container *ngIf="contactoSeleccionado" else noSeleccionado>
  <h4>
    Tu Amigo invisible es {{ contactoSeleccionado!.name!.first }}
    {{ contactoSeleccionado!.name!.last }}
  </h4>
</ng-container>
<ng-template #noSeleccionado>
  <div>
    <p>No seleccionado , Selecciona a tu amigo invisible</p>
  </div>
</ng-template>

<!--Hacer un Login-->
<!--<a *ngIf="!token" routerLink="/login">Iniciar Sesion</a>-->
<button mat-raised-button color="primary" (click)="navegarAContacts()"> Ver todos tus contactos</button>
<!--
<app-nav></app-nav>
-->

<div>
  <p>Filtros</p>
  <ul>
    <li>
      <!--routerLink sirve para redirigir a una ruta definida -->
      <a [routerLink]="['/dashboard/contacts']" [queryParams]="{ sexo: 'female' }">Amigas</a>
    </li>
    <li>
      <a [routerLink]="['/dashboard/contacts']" [queryParams]="{ sexo: 'male' }">Amigos</a>
    </li>
  </ul>
</div>
