<!-- routerLink -->
<!-- state esta pasando los datos del contacto como un modelview -->
<div>
<h1>Tus Contactos</h1>
<!--Listar los contactos y poder navegar al pinchar en uno de ellos al detalle-->
<!--<div *ngFor="let contacto of listaContactos">-->
<!--<div *ngIf="listaRandomContactos.length==0">-->
<div *ngIf="cargando">
    <mat-spinner></mat-spinner>
</div>

<div *ngFor="let contacto of listaRandomContactos">
  <div routerLink="/dashboard/contacts/{{ contacto.id }}" [state]="{ data: contacto }">
    <h6 class="contacto">{{ contacto!.name!.first }}</h6>
    <h6>{{ contacto.email }}</h6>
    <h6>{{ contacto.gender }}</h6>
    <button mat-raised-button color="primary" (click)="volverAHome(contacto)">
      Selecciona como Amigo invisible
    </button>
  </div>
  <!--
  <p>{{contacto.id}}</p>
  <p>{{contacto.nombre}}</p>
  <p>{{contacto.apellidos}}</p>
  <p>{{contacto.email}}</p>
  -->
</div>

<ng-container
  *ngIf="filtroSexo == 'female' || filtroSexo == 'male'; else completo"
>
  <p>Mostrando lista filtrada</p>
  <p>Mostrando amigos"{{ filtroSexo }}"</p>
</ng-container>
<ng-template #completo>
  <p>Mostrando la lista de contactos completa</p>
</ng-template>

<a routerLink="/dashboard">Volver</a>
</div>
